body{
  margin: 0;
  padding: 0;

}
.layout-center-wrapper {
    max-width: 1500px;
    margin: 0 auto;
}

.dsgn-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    outline: 1px dotted orange;
}
.dsgn-logo{
    width: 70%;
    background-color:  #e9eae2;
    outline: 1px dotted green;
}
.head-nav{
    width: 30%;
    background-color:  #7acec3;
    outline: 1px dotted blue;
}
.projects-items1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    outline: 1px dotted orange;

}
.projects-items1-leftcol{
    width: 70%;
    outline: 1px dotted green;
}
.projects-blocks-left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    outline: 1px dotted orange;
}
.projects__main{
    width: 45%;
    background-color:  #ebb240;
    outline: 1px dotted blue;
}
.projects__fondue{
    width: 55%;
    background-color:  #fff;
    outline: 1px dotted blue;
}
.projects__louis{
    width: 30%;
    background-color:  #667681;
    outline: 1px dotted red;
}
.projects__tel{
    width: 70%;
    background-color:  #eaeaea;
    outline: 1px dotted red;
}
.projects-items1-rightcol{
    width: 30%;
    outline: 1px dotted green;

}
.projects-blocks-right{
  display: flex;
    flex-direction: column;
    justify-content: flex-start;
    outline: 1px dotted orange;
}
.projects__potter{
    width: 100%;
  color: #dfe0d9;
}


